@import "../../scss/colors";

.home {
  display: flex;
  min-height: 100vh;
  align-items: center;

  .content {
    width: 100%;
    height: 100%;
    max-width: 500px;
    padding: 30px;
    background: $light-gray;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .logo {
    max-width: 150px;
    margin-bottom: 20px;
  }

  input {
    color: $white !important;
    background: $dark-gray;
    border-color: lighten($dark-gray, 30%);

    &:focus {
      border-color: $pink;
      background: $dark-gray;
    }
  }
}
